<!DOCTYPE html>
<html>
<head>
	<title>主页</title>
	<link rel="stylesheet" href="/static/css/fonts.css">
	<link rel="stylesheet" href="/static/css/mdesign.css">
	<script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery-ui.js"></script>
	<script type="text/javascript" src="/static/js/util.js"></script>
	<script type="text/javascript" src="/static/js/jquery.form.js"></script>
	<style type="text/css">

		.main {
			margin-top: 20px;
			width: 100%;
		}

		.items {
			width: 70%;
			display: inline-block;
			max-height: 800px;
			min-height: 600px;
			margin-right: 1%;
			float: left;
		}

		#items .item{
			display: block;
			text-decoration: none;
			margin: 0px;
			padding: 10px 0px;
			height: 20px;
			font-size: 20px;
		}

		#items .item input.checkbox{
			margin-right: 20px;
			height: 15px;
		}

		#items .item span.icon {
			margin-right: 10px;
		}

		#items .item a{
			text-decoration: none;
		}

		#items .item:hover{
			background-color: #EEEEEE;
		}

		#items .item.selected{
			background-color: #F5F5F5;
		}

		#items form {
			display: inline-block;
		}

		#items .item .icon {
			margin-right: 3px;
		}

		.dirnav {
			width: 20%;
			max-height: 800px;
			min-height: 600px;
			overflow: auto;
			margin-right: 1%;
			float: left;
			margin-left: 5%;
		}

		#dirnav .item {
    		display: block;
			text-decoration: none;
			margin: 0px;
			padding: 10px 0px;
			height: 20px;
			font-size: 20px;
		}

		#dirnav .item span.icon{
			border-radius: 50%;
		}

		#dirnav .item.shrinked{
			display: none;
		}

		#dirnav .item:hover{
			background-color: #EEEEEE;
		}

		#dirnav .item.active{
			background-color: #F5F5F5;
		}

		#dirnav .item .icon {
			margin-right: 10px;
		}

		.ui-state-hover {
			background-color: pink;
		}
		
		.checkbox {
			color: #EEE;
		}
	</style>
</head>
<body>
	{% module xsrf_form_html() %}
	<div class="main">

		<div class="chips dirnav">

			<div class="chips-head">
				<div class="chips-title" >
					<span class="">&nbsp;</span>
				</div>
			</div>

			<div class="chips-content" id="dirnav">
				
			</div>

		</div>

		<div class="chips items">

			<div class="chips-head">
				<div class="btn btn-left upper-dir">
					<span class="icon icon-undo2"></span>
				</div>

				<div class="chips-title" >
					<span class="">doc</span>
				</div>
				
				<div class="btn btn-right popover" target="#upload">
					<span class="icon icon-cloud-upload"></span>
				</div>
				<div class="btn btn-right remove-items">
					<span class="icon icon-bin"></span>
				</div>
			</div>

			<div class="chips-content" id="items">
				
			</div>

			<div class="chips-float-btns">
				<div class="btn btn-float new-dir">
					<span class="icon icon-folder-plus"></span>
				</div>
				<div class="btn btn-float new-doc">
					<span class="icon icon-plus"></span>
				</div>
			</div>
		</div>

	</div>

	<div class="pop-window upload" id="upload">
		<div class="pop-window-content">
			{% module xsrf_form_html() %}
			<form name="upload" method="POST" enctype="multipart/form-data" action="/upload">
			    <input type="file" name="file" required>
			    <input type="submit" name="submit">
			</form>
		</div>
	</div>

</body>
<script type="text/javascript">

function NavDirManager(eid) {
	this.dirs = [];
	this.ROOT = null;
	this.eid = eid;
	this.im = null;
}

NavDirManager.prototype._renderDirs = function(dirs) {
	var level = 0;
	var that = this;
	$(that.eid).html('');

	_curLevelDirs = [];
	dirs.forEach(function(dir, i) {
		if(dir.parent == that.ROOT){
			$(that.eid).append(that.renderNavDir(dir, level));
			_curLevelDirs.push(dir._id);
		}
	});

	var _temp;
	var last;

	while(_curLevelDirs.length > 0){
		
		level += 1;
		_temp = [];
		_curLevelDirs.forEach(function(pdir, pi){
			last = $("{} #{}".format(that.eid, pdir));
			dirs.forEach(function(dir, i) {
				if(dir.parent == pdir){
					$(last).after(that.renderNavDir(dir, level));
					last = $("{} #{}".format(that.eid, dir._id));
					_temp.push(dir._id);
				}
			})
		});

		_curLevelDirs = _temp;
	}
};


NavDirManager.prototype.renderNavDir = function(dir, level) {
	if(level == 0)
		return '<div class="item" id="{}" pid="{}"><span class="icon icon-folder"></span><span class="title" title="{}">{}</span></div>'.format(dir._id, dir.parent, dir.title, dir.title.length > 20 ? dir.title.substr(0, 20) + '...' : dir.title);
	else
		return '<div class="item shrinked" id="{}" pid="{}">{}<span class="icon icon-folder"></span><span class="title" title="{}">{}</span></div>'.format(dir._id, dir.parent, '&nbsp;'.repeat(level), dir.title, dir.title.length > 20 ? dir.title.substr(0, 20) + '...' : dir.title);
}


NavDirManager.prototype.renderDirs = function() {
	var that = this;
	that._renderDirs(that.dirs);
	$("{} .item".format(that.eid)).droppable({
    	activeClass: "ui-state-default",
        hoverClass: "ui-state-hover",
        accept: ":not(.ui-sortable-helper)",
        drop: function( event, ui ) {
            var targetId = $(this).attr('id');
            var sourceIds = [];
            $("{} .item.selected".format(that.im.eid)).each(function(){
            	sourceIds.push($(this).attr('id'));
            });
            if(sourceIds.length > 0 && that.im)
            	that.im.moveItems(sourceIds, targetId);
        }
    });
}

NavDirManager.prototype.expandDir = function(dir) {
	var did = $(dir).attr('id');
	$(dir).find('span.icon').toggleClass('icon-folder');
	$(dir).find('span.icon').toggleClass('icon-folder-open');
	$('{} .item[pid="{}"]'.format(this.eid, did)).removeClass('shrinked');
}


NavDirManager.prototype.shrinkDir = function(dir) {
	var did = $(dir).attr('id');
	$(dir).find('span.icon').toggleClass('icon-folder-open');
	$(dir).find('span.icon').toggleClass('icon-folder');
	$('{} .item[pid="{}"]'.format(this.eid, did)).addClass('shrinked');
}

NavDirManager.prototype.activeDir = function(did, cur) {
	if(!did)
		return ;
	if(cur == null)
		cur = true;

	var dir = $('{} .item[id="{}"]'.format(this.eid, did)).first();
	if(dir) {
		if(cur)
			dir.addClass('active');
		else
			this.expandDir(dir);
		this.activeDir(dir.attr('pid'), false);
	}
}

NavDirManager.prototype.loadDirs = function(){
	var that = this;
	$.post("/dirs", {}, function(result){
	    if(result.status == "ok"){
	    	that.dirs = result.dirs;
	    	that.renderDirs();

			// activeDir(result.curDir);

	        info("加载成功");
	    } else {
	        info("错误：" + result.error);
	    }
	}, 'json', function(XMLHttpRequest, textStatus, errorThrown) {
		info("错误，代码：" + XMLHttpRequest.status);
	});
}

function ItemManager(eid) {
	this.eid = eid;
	this.PARENT = null;
	this.items = [];
	this.navdir = null;
}

ItemManager.prototype.renderDir = function(item){
	return '<div class="item dir" id="{}"><span class="checkbox"></span><span class="icon icon-folder"></span><a class="title" href="javascript:void(0)" title="{}">{}</a></div>'.format(item._id, item.title, item.title.length > 45 ? item.title.substr(0, 45) + "..." : item.title);
}

ItemManager.prototype.renderDoc = function(item){
	return '<div class="item doc" id="{}"><span class="checkbox"></span><span class="icon icon-file-text2"></span><a class="title" href="{}" target="_blank" title="{}">{}</a></div>'.format(item._id, item.url, item.title, item.title.length > 45 ? item.title.substr(0, 45) + "..." : item.title);
}

ItemManager.prototype.renderFile = function(item){
	return '<div class="item file" id="{}"><span class="checkbox"></span><span class="icon icon-file-empty"></span><a class="title" href="{}" title="{}" target="_blank">{}</a></div>'.format(item._id, item.url, item.title, item.title.length > 45 ? item.title.substr(0, 45) + "..." : item.title);
}

ItemManager.prototype.renderItems = function() {
	var that = this;
	$(that.eid).html('');
	that.items.forEach(function(item, i){
		if(item.type == 'dir'){
			$(that.eid).append(that.renderDir(item));
		} else if(item.type == 'doc'){
			$(that.eid).append(that.renderDoc(item));
		} else if(item.type == 'file'){
			$(that.eid).append(that.renderFile(item));
		}
	});

	$("{} .item".format(that.eid)).draggable({
        appendTo: "body",
        helper: "clone"
    });

    $("{} .item.dir".format(that.eid)).droppable({
    	activeClass: "ui-state-default",
        hoverClass: "ui-state-hover",
        accept: ":not(.ui-sortable-helper)",
        drop: function( event, ui ) {
            var targetId = $(this).attr('id');
            var sourceIds = [];
            $("{} .item.selected".format(that.eid)).each(function(){
            	sourceIds.push($(this).attr('id'));
            });
            if(sourceIds.length > 0)
            	that.moveItems(sourceIds, targetId);
        }
    });
}

ItemManager.prototype.moveItems = function(sources, target){
	var that = this;
	$.post("/move", {target: target, sources: sources}, function(result){
	    if(result.status == "ok"){
	        info("移动成功");
	        that.loadItems();
	        that.navdir.loadDirs();
	    } else {
	        info("移动错误：" + result.error);
	    }
	}, 'json', function(XMLHttpRequest, textStatus, errorThrown) {
		info("错误，代码：" + XMLHttpRequest.status);
	});
}

ItemManager.prototype.openItem = function(item) {
	if($(item).hasClass('dir')) {
		this.PARENT = $(item).attr('id');
		this.loadItems();
	} else if (url = $(item).find("a").attr('href')) {
		window.open(url, "_blank"); 
	}
}


ItemManager.prototype.toggleSelectItem = function(item) {
	if($(item).hasClass('selected')){
		$(item).removeClass("selected");
		$(item).find(".checkbox").removeClass("checked");
	} else {
		$(item).addClass("selected");
		$(item).find(".checkbox").addClass("checked");
	}
}

ItemManager.prototype.cancelSelect = function() {
	var that = this;
	$("{} .item.selected".format(that.eid)).each(function(){
		that.toggleSelectItem(this);
	}); 
}

ItemManager.prototype.rename = function(item) {
	var that = this;
	var oldTitle = $(item).find('a.title').html();
	$(item).find('a.title').replaceWith('<form id="rename"><input value="{}"></form>'.format(oldTitle));

	$('{} form#rename input'.format(that.eid)).focus(function(){
		 $(this).select();
	});
	$('{} form#rename input'.format(that.eid)).focus();
	$('{} form#rename input'.format(that.eid)).blur(function(event){
		that.cancelRename();
	});
	$('{} form#rename'.format(that.eid)).submit(function(event) {
		event.preventDefault();

		var newTitle = $(this).find('input').val();
		var target = $(item).attr("id");
		
		if(!target || newTitle==oldTitle)
			return
		
		$.post("/rename", {target: target, title: newTitle}, function(result){
		    if(result.status == "ok"){
		        info("重命名成功");
		        that.loadItems();
		        if($(item).hasClass('dir'))
		        	that.navdir.loadDirs();
		    } else {
		        info("重命名错误：" + result.error);
		    }
		}, 'json', function(XMLHttpRequest, textStatus, errorThrown) {
		    info("错误，代码：" + XMLHttpRequest.status);
		});
	});
}

ItemManager.prototype.cancelRename = function() {
	if($("{} #rename".format(this.eid)).length > 0) {
		this.renderItems();
	}
}

ItemManager.prototype.loadItems = function() {
	var that = this;
	$.post("/items", {parent: that.PARENT}, function(result){
	    if(result.status == "ok"){
	    	that.items = result.items;

	    	var name = $("{} .item#{}".format(that.navdir.eid, that.PARENT)).find('.title').html();

	    	if(name)
				$(".chips.items").find('.chips-title').html(name.length > 9? name.substr(0, 9) + '...': name);
			else
				$(".chips.items").find('.chips-title').html("");

	    	that.renderItems();
	        info("加载成功");
	    } else {
	        info("加载错误：" + result.error);
	    }
	}, 'json', function(XMLHttpRequest, textStatus, errorThrown) {
		info("错误，代码：" + XMLHttpRequest.status);
	});
}

ItemManager.prototype.delItems = function(completely){
	var that = this;
	if(completely == null )
		completely = false

	var targets = [];
	$("{} .item.selected".format(that.eid)).each(function(){
		if(tid = $(this).attr('id')){
			targets.push(tid);
		}
	});
	if(targets.length == 0)
		return ;

	if(completely) {
		if(! confirm("确认彻底删除 {} 项？".format(targets.length)))
			return ;
	} else {
		if(! confirm("确认删除 {} 项？".format(targets.length)))
			return ;
	}

	$.post("/delete", {targets: targets, completely: completely}, function(result){
	    if(result.status == "ok"){
	    	that.loadItems();
	    	that.navdir.loadDirs();
	    } else {
	        info("错误：" + result.error);
	    }
	}, 'json', function(XMLHttpRequest, textStatus, errorThrown) {
		info("错误，代码：" + XMLHttpRequest.status);
	});
}

ItemManager.prototype.newDir = function(callback){
	var that = this;
	$.post("/newdir", {parent: this.PARENT}, function(result){
	    if(result.status == "ok"){
	    	that.navdir.loadDirs();
			that.items.push(result.item);
			$(that.eid).append(that.renderDir(result.item));
			that.rename($("{} #{}".format(that.eid, result.item._id)));

	    	if(callback)
	    		callback(result.item);
	    } else {
	        info("错误：" + result.error);
	    }
	}, 'json', function(XMLHttpRequest, textStatus, errorThrown) {
		info("错误，代码：" + XMLHttpRequest.status);
	});
}

ItemManager.prototype.newDoc = function(callback){
	var that = this;
	$.post("/newdoc", {parent: this.PARENT}, function(result){
	    if(result.status == "ok"){
	    	that.items.push(result.item);
			$(that.eid).append(that.renderDoc(result.item));
			im.rename($("{} #{}".format(that.eid, result.item._id)));

	    	if(callback)
	    		callback(result.item);
	    } else {
	        info("错误：" + result.error);
	    }
	}, 'json', function(XMLHttpRequest, textStatus, errorThrown) {
		info("错误，代码：" + XMLHttpRequest.status);
	});
}

ItemManager.prototype.upperDir = function() {
	if(parent = $("#dirnav #{}".format(this.PARENT))){
		if(pparent = parent.attr('pid')){
			this.PARENT = pparent;
			this.loadItems();
		}
	}
}

var navdir = new NavDirManager("#dirnav");
navdir.ROOT = "{{ ROOT }}";
navdir.loadDirs();

var im = new ItemManager("#items");
im.PARENT = "{{ parent }}";
im.navdir = navdir;
navdir.im = im;
im.loadItems();


$("#dirnav").on("click", ".item", function(event) {
	im.PARENT = $(this).attr('id');
	im.loadItems();

	return false;
});


$("#dirnav").on("click", ".item .icon", function(event) {
	var parent = $(this).parents('.item').first();
	if($(this).hasClass('icon-folder'))
		navdir.expandDir(parent);
	else
		navdir.shrinkDir(parent);

	return false;
});

$("#items").on("click", ".item", function(event) {

	if($(this).find("#rename").length > 0)
		return ;

	im.cancelRename();

	if(event.ctrlKey){
		im.toggleSelectItem(this);
	} else if($(this).hasClass("selected")){
		im.cancelSelect();
		im.rename(this);
	} else {
		im.cancelSelect();
		im.toggleSelectItem(this);
	}

	return false;
});

$("#items").on("click", ".item .checkbox", function(event) {
	im.cancelRename();
	im.toggleSelectItem($(this).parent(".item"));
	return false;
});


$("#items").on("click", ".item a", function(event) {
	im.openItem($(this).parent(".item"));
	return false;
});

$(document).on("click", function() {
	im.cancelSelect();
});


$(document).keydown(function(event){
	if($(event.target).is('input, textarea'))
        return ;

	if(event.keyCode == 46) {
		event.preventDefault();

		if(event.shiftKey)
			im.delItems(true);
		else
			im.delItems();
	} else if(event.keyCode == 13) {
		if(item = $("#items .item.selected").first()){
			event.preventDefault();
			im.openItem(item);
		}
	} else if(event.keyCode == 8) {
		event.preventDefault();

		im.upperDir();
	}
});

$(".new-dir").on("click", function(event){
	im.newDir();
});

$(".new-doc").on("click", function(event){
	im.newDoc();
});

$(".upper-dir").on("click", function(event){
	im.upperDir();
});

$(".remove-items").on("click", function(event){
	im.delItems();
});

$(document).on("click", ".popover", function(event){
	var targetId = $(this).attr('target');
	var target = $(targetId);
	if(! target)
		return;

	target.toggle();
	target.css("left", $(this).offset().left - target.width() + "px");
	target.css("top",  $(this).offset().top + ($(this).height() + 10) + "px");
});

$(".upload form").submit(function(event){
	event.preventDefault();
	$(this).ajaxSubmit({
		dataType: 'json',
		data: { parent: im.PARENT, _xsrf: getCookie("_xsrf") },
		success: function(result){
			if(result.status == "ok"){
		    	info("上传成功");
		    	im.loadItems();
		    } else {
		        info("错误：" + result.error);
		    }
		}, 
		error: function(XMLHttpRequest, textStatus, errorThrown) {
			info("错误，代码：" + XMLHttpRequest.status);
		}
	});
});

</script>
</html>
