<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>主页</title>
  <base href="../" />
  <link rel="stylesheet" type="text/css" href="static/css/materialize.min.css">
  <link href="static/css/materialdesignicons.min.css" rel="stylesheet">
  <!-- <link rel="stylesheet" type="text/css" href="static/css/mdesign.css"> -->

  <script type="text/javascript" src="static/js/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="static/js/util.js"></script>
  <script type="text/javascript" src="static/js/materialize.min.js"></script>
  <script type="text/javascript" src="static/js/jquery-ui.js"></script>
  <script type="text/javascript" src="static/js/jquery.form.js"></script>
  <script type="text/javascript" src="static/js/util.js"></script>
  <style type="text/css">

    body {
      margin: 0px;
      padding: 0px;
      background-color: #EEEEEF;
    }

	#items {
	  max-height: 800px;
	  min-height: 500px;
	}

	#items .item .checkbox {
	  width: 42px; 
	  height: 42px; 
	  display: inline-block; 
	  padding: 13px; 
	  margin-right: 10px; 
	  float: left;
	}

	.icon {
	  width: 42px; 
	  height: 42px; 
	  overflow: hidden; 
	  display: inline-block; 
	  background-color: #999; 
	  font-size: 18px; 
	  text-align: center; 
	  vertical-align: middle; 
	  color: #fff; 
	  padding-top: 13px; 
	  margin-right: 10px;
	}

	.icon-plane {
	  width: 42px; 
	  height: 42px; 
	  overflow: hidden; 
	  display: inline-block; 
	  font-size: 25px; 
	  text-align: center; 
	  vertical-align: middle; 
	  color: #fff; 
	  padding-top: 6px; 
	}

	#items .item.selected{
	  background-color: #F5F5F5;
	}

	#dirnav {
	  max-height: 800px;
	  min-height: 500px;
	}

	#dirnav .item.hidden{
	  display: none;
	}

	#dirnav .item:hover{
		background-color: #EEEEEE;
	}

	#dirnav .item.active{
		background-color: #F5F5F5;
	}

	.ui-state-hover {
		background-color: pink;
	}
		

	.float-btns {
      position: absolute;
      text-align: center;
    }

    .float-btns li {
    	margin-top: 20px;
    }

    .btns {
    	display: inline-block;
    	padding: 0;
    	margin: 0;
    }

    .btns li {
    	float: left;
    	margin-right: 10px;
    }

    #upload {
	  display: none;
	  position: absolute;
	  background-color: #FAFAFA;
	  padding: 20px;
	  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
	  z-index: 2;
    }

  </style>
</head>
<body>
	<!-- {% module xsrf_form_html() %} -->

	<nav>
      <div class="nav-wrapper">
        <ul class="right hide-on-med-and-down">
	      <li><a class="dropdown-button" href="#!" data-activates="dropdown-account">账&nbsp;户</a></li>
	    </ul>
      </div>
    </nav>
    <ul id="dropdown-account" class="dropdown-content" style="text-align: center;">
	  <li><a href="/login">登录</a></li>
	  <li><a href="#!">登出</a></li>
	</ul>

	<!-- <div class="container"> -->
	  <div class="row">

	  	<div class="col l4 hide-on-med-and-down">
          <div class="card">
            <div class="card-content white-text teal lighten-2">
              <i class="mdi mdi-database icon-plane"></i>
              <span class="card-title">文件</span>
              
            </div>

            <ul class="collection" id="dirnav">
		        <!-- <li class="collection-item item">
		          <div style="display: inline-block; width: 30px;"></div>
		          <a class="upper-dir" href="javascript:void(0)"><i class="circle mdi mdi-folder icon"></i></a>
			      <span class="title">Title</span>
		        </li> -->
		      </ul>

          </div>
        </div>

        <div class="col l8 s12">
          <div class="card">

            <div class="card-content white-text teal lighten-2">
              <a class="upper-dir" href="javascript:void(0)" title="上一级"><i class="mdi mdi-arrow-left icon-plane"></i></a>
              <span class="card-title parent-title">doc</span>
              <ul class="btns" style="float: right;">
                <li><a class="remove-items" title="删除" href="javascript:void(0)"><i class="mdi mdi-delete icon circle grey"></i></a></li>
                <li><a class="popover" target="#upload" title="上传" href="javascript:void(0)"><i class="mdi mdi-cloud-upload icon circle blue"></i></a></li>
              </ul>
            </div>

			  <ul class="collection" style="min-height: 500px;" id="items">
		        <!-- <li class="collection-item item">
		          <div class="checkbox"><input type="checkbox" id="test5" />      <label for="test5"></label></div>
		          <i class="circle mdi mdi-folder icon"></i>
			      <a href="javascript:void(0)"><span class="title">Title</span></a>
			      <span><input type="text" value="Title" style="width: 50%;"/></span>
		        </li> -->
		      </ul>

            <ul class="float-btns" style="bottom: 40px; right: 40px;">
			  <li><a class="btn-floating waves-effect waves-light yellow new-dir" title="新归档"><i class="mdi mdi-folder-plus"></i></a></li>
			  <li><a class="btn-floating waves-effect btn-large waves-light red new-doc" title="新文档"><i class="mdi mdi-plus"></i></a></li>
			</ul>

          </div>
        </div>

	  </div>
	<!-- </div> -->

	<div id="upload">
		<form action="#" class="row">
		  <div class="file-field input-field col s8">
		    <div class="btn">
		      <span>文件</span>
		      <input type="file" name="file" >
		    </div>
		    <div class="file-path-wrapper">
		      <input class="file-path validate" type="text">
		    </div>
		  </div>
		  <div class="input-field col s4">
		  	<button class="btn" type="submit">提交</button>
		  </div>
		</form>
	</div>

</body>
<script type="text/javascript">

function NavDirManager(eid) {
	this.dirs = [];
	this.ROOT = null;
	this.eid = eid;
	this.im = null;
}

NavDirManager.prototype._renderDirs = function(dirs) {
	var level = 0;
	var that = this;
	$(that.eid).html('');

	_curLevelDirs = [];
	dirs.forEach(function(dir, i) {
		if(dir.parent == that.ROOT){
			$(that.eid).append(that.renderNavDir(dir, level));
			_curLevelDirs.push(dir._id);
		}
	});

	var _temp;
	var last;

	while(_curLevelDirs.length > 0){
		
		level += 1;
		_temp = [];
		_curLevelDirs.forEach(function(pdir, pi){
			last = $("{} #{}".format(that.eid, pdir));
			dirs.forEach(function(dir, i) {
				if(dir.parent == pdir){
					$(last).after(that.renderNavDir(dir, level));
					last = $("{} #{}".format(that.eid, dir._id));
					_temp.push(dir._id);
				}
			})
		});

		_curLevelDirs = _temp;
	}
};


NavDirManager.prototype.renderNavDir = function(dir, level) {
	return '<li class="collection-item item {}" id="{}" pid="{}"><div style="display: inline-block; width: {}px;"></div><a class="toggle-dir" href="javascript:void(0)"><i class="circle mdi mdi-folder icon"></i></a><a href="javascript:void(0)" class="title" title="{}">{}</a></li>'.format(level == 0 ? "shrinked" : "hidden", dir._id, dir.parent, level * 30, dir.title, dir.title.length > 20 ? dir.title.substr(0, 20) + '...' : dir.title);      
}                        


NavDirManager.prototype.renderDirs = function() {
	var that = this;
	that._renderDirs(that.dirs); 
	$("{} .item".format(that.eid)).droppable({
    	activeClass: "ui-state-default",
        hoverClass: "ui-state-hover",
        accept: ":not(.ui-sortable-helper)",
        drop: function( event, ui ) {
            var targetId = $(this).attr('id');
            var sourceIds = [];
            $("{} .item.selected".format(that.im.eid)).each(function(){
            	sourceIds.push($(this).attr('id'));
            });
            if(sourceIds.length > 0 && that.im)
            	that.im.moveItems(sourceIds, targetId);
        }
    });
}

NavDirManager.prototype.expandDir = function(dir) {
	var did = $(dir).attr('id');
	$(dir).toggleClass('shrinked');
	$('{} .item[pid="{}"]'.format(this.eid, did)).removeClass('hidden');
}


NavDirManager.prototype.shrinkDir = function(dir) {
	var did = $(dir).attr('id');
	$(dir).toggleClass('shrinked');
	$('{} .item[pid="{}"]'.format(this.eid, did)).addClass('hidden');
}

NavDirManager.prototype.activeDir = function(did, cur) {
	if(!did)
		return ;
	if(cur == null)
		cur = true;

	var dir = $('{} .item[id="{}"]'.format(this.eid, did)).first();
	if(dir) {
		if(cur)
			dir.addClass('active');
		else
			this.expandDir(dir);
		this.activeDir(dir.attr('pid'), false);
	}
}

NavDirManager.prototype.loadDirs = function(){
	var that = this;
	// $.post("/dirs", {}, function(result){
	//     if(result.status == "ok"){
	//     	that.dirs = result.dirs;
	//     	that.renderDirs();

	// 		// activeDir(result.curDir);

	//         Materialize.toast("加载成功", 3000);
	//     } else {
	//         Materialize.toast("错误：" + result.error, 3000);
	//     }
	// }, 'json', function(XMLHttpRequest, textStatus, errorThrown) {
	// 	Materialize.toast("错误，代码：" + XMLHttpRequest.status, 3000);
	// });

	result = {"dirs": [{"_id": "567f8758d81471892a399fdc", "parent": "567f3fd0d81471892a399fdb", "title": "bin"}, {"_id": "567f9381c8b5820824479cc5", "parent": "567f9218c8b5820824479cbf", "title": "\u65b0\u5efa\u5f52\u6863"}, {"_id": "567fc3c0c8b58205901906f2", "parent": "567f3fd0d81471892a399fdb", "title": "doc"}, {"_id": "567fc3fdc8b58205901906f3", "parent": "567f3fd0d81471892a399fdb", "title": "file"}, {"_id": "567ff207beb29b20af0d6ad0", "parent": "567fc3c0c8b58205901906f2", "title": "\u7f8e\u56e2"}, {"_id": "5680a363beb29b216be4f37e", "parent": "567fc3c0c8b58205901906f2", "title": "\u8bfb\u4e66\u7b14\u8bb0"}], "status": "ok"}
	that.dirs = result.dirs;
	that.renderDirs();
	Materialize.toast("加载成功", 3000);
}

function ItemManager(eid) {
	this.eid = eid;
	this.PARENT = null;
	this.items = [];
	this.navdir = null;
}

ItemManager.prototype.renderDir = function(item){
	return '<li class="collection-item item dir" id="{}"><div class="checkbox"><input type="checkbox" id="chechbox{}" /> <label for="chechbox{}"></label></div><i class="circle mdi mdi-folder icon"></i><a class="title" href="javascript:void(0)" title="{}">{}</a><a href="javascript:void(0)" class="secondary-content rename"><i class="mdi mdi-pencil"></i></a></li>'.format(item._id, item._id, item._id, item.title, item.title.length > 45 ? item.title.substr(0, 45) + "..." : item.title);
}

ItemManager.prototype.renderDoc = function(item){
	return '<li class="collection-item item doc" id="{}"><div class="checkbox"><input type="checkbox" id="chechbox{}" /> <label for="chechbox{}"></label></div><i class="circle mdi mdi-file-document icon"></i><a class="title" href="{}" title="{}" target="_blank">{}</a><a href="javascript:void(0)" class="secondary-content rename"><i class="mdi mdi-pencil"></i></a></li>'.format(item._id, item._id, item._id, item.url, item.title, item.title.length > 45 ? item.title.substr(0, 45) + "..." : item.title);
}

ItemManager.prototype.renderFile = function(item){
	return '<li class="collection-item item file" id="{}"><div class="checkbox"><input type="checkbox" id="chechbox{}" /> <label for="chechbox{}"></label></div><i class="circle mdi mdi-file icon"></i><a class="title" href="{}" title="{}" target="_blank">{}</a><a href="javascript:void(0)" class="secondary-content rename"><i class="mdi mdi-pencil"></i></a></li>'.format(item._id, item._id, item._id, item.url, item.title, item.title.length > 45 ? item.title.substr(0, 45) + "..." : item.title);
}

ItemManager.prototype.renderItems = function() {
	var that = this;
	$(that.eid).html('');
	that.items.forEach(function(item, i){
		if(item.type == 'dir'){
			$(that.eid).append(that.renderDir(item));
		} else if(item.type == 'doc'){
			$(that.eid).append(that.renderDoc(item));
		} else if(item.type == 'file'){
			$(that.eid).append(that.renderFile(item));
		}
	});

	$("{} .item".format(that.eid)).draggable({
        appendTo: "body",
        helper: "clone"
    });

    $("{} .item.dir".format(that.eid)).droppable({
    	activeClass: "ui-state-default",
        hoverClass: "ui-state-hover",
        accept: ":not(.ui-sortable-helper)",
        drop: function( event, ui ) {
            var targetId = $(this).attr('id');
            var sourceIds = [];
            $("{} .item.selected".format(that.eid)).each(function(){
            	sourceIds.push($(this).attr('id'));
            });
            if(sourceIds.length > 0)
            	that.moveItems(sourceIds, targetId);
        }
    });
}

ItemManager.prototype.moveItems = function(sources, target){
	var that = this;
	$.post("/move", {target: target, sources: sources}, function(result){
	    if(result.status == "ok"){
	        Materialize.toast("移动成功", 3000);
	        that.loadItems();
	        that.navdir.loadDirs();
	    } else {
	        Materialize.toast("移动错误：" + result.error, 3000);
	    }
	}, 'json', function(XMLHttpRequest, textStatus, errorThrown) {
		Materialize.toast("错误，代码：" + XMLHttpRequest.status, 3000);
	});
}

ItemManager.prototype.openItem = function(item) {
	if($(item).hasClass('dir')) {
		this.PARENT = $(item).attr('id');
		this.loadItems();
	} else if (url = $(item).find("a").attr('href')) {
		window.open(url, "_blank"); 
	}
}


ItemManager.prototype.toggleSelectItem = function(item) {
	$(item).toggleClass("selected");
}

ItemManager.prototype.cancelSelect = function() {
	var that = this;
	$("{} .item.selected".format(that.eid)).each(function(){
		that.toggleSelectItem(this);
	}); 
}

ItemManager.prototype.rename = function(item) {
	var that = this;
	var oldTitle = $(item).find('a.title').html();
	$(item).find('a.title').replaceWith('<form id="rename" style="display: inline-block; width: 50%;"><span><input type="text" value="{}"/></span></form>'.format(oldTitle));

	$('{} form#rename input'.format(that.eid)).focus(function(){
		 $(this).select();
	});
	$('{} form#rename input'.format(that.eid)).focus();
	$('{} form#rename input'.format(that.eid)).blur(function(event){
		that.cancelRename();
	});
	$('{} form#rename'.format(that.eid)).submit(function(event) {
		event.preventDefault();

		var newTitle = $(this).find('input').val();
		var target = $(item).attr("id");
		
		if(!target || newTitle==oldTitle)
			return
		
		$.post("/rename", {target: target, title: newTitle}, function(result){
		    if(result.status == "ok"){
		        Materialize.toast("重命名成功", 3000);
		        that.loadItems();
		        if($(item).hasClass('dir'))
		        	that.navdir.loadDirs();
		    } else {
		        Materialize.toast("重命名错误：" + result.error, 3000);
		    }
		}, 'json', function(XMLHttpRequest, textStatus, errorThrown) {
		    Materialize.toast("错误，代码：" + XMLHttpRequest.status, 3000);
		});
	});
}

ItemManager.prototype.cancelRename = function() {
	if($("{} #rename".format(this.eid)).length > 0) {
		this.renderItems();
	}
}

ItemManager.prototype.loadItems = function() {
	var that = this;
	// $.post("/items", {parent: that.PARENT}, function(result){
	//     if(result.status == "ok"){
	//     	that.items = result.items;

	//     	var name = $("{} .item#{}".format(that.navdir.eid, that.PARENT)).find('.title').html();

	//     	if(name)
	// 			$(".chips.items").find('.chips-title').html(name.length > 9? name.substr(0, 9) + '...': name);
	// 		else
	// 			$(".chips.items").find('.chips-title').html("");

	//     	that.renderItems();
	//         Materialize.toast("加载成功", 3000);
	//     } else {
	//         Materialize.toast("加载错误：" + result.error, 3000);
	//     }
	// }, 'json', function(XMLHttpRequest, textStatus, errorThrown) {
	// 	Materialize.toast("错误，代码：" + XMLHttpRequest.status, 3000);
	// });

	result = {"status": "ok", "items": [{"url": "/a/56652c83beb29b24d931bf91", "_id": "56652c83beb29b24d931bf91", "type": "doc", "title": "\u6253\u5370"}, {"url": "", "_id": "567ff207beb29b20af0d6ad0", "type": "dir", "title": "\u7f8e\u56e2"}, {"url": "", "_id": "5680a363beb29b216be4f37e", "type": "dir", "title": "\u8bfb\u4e66\u7b14\u8bb0"}, {"url": "/a/565668ebbeb29b0fb3f35fb1", "_id": "565668ebbeb29b0fb3f35fb1", "type": "doc", "title": "nginx"}, {"url": "/a/567a7fb3beb29b24d931bf93", "_id": "567a7fb3beb29b24d931bf93", "type": "doc", "title": "\u6570\u636e\u5206\u6790demo"}, {"url": "/a/5680f94fbeb29b216b2977ad", "_id": "5680f94fbeb29b216b2977ad", "type": "doc", "title": "\u5929\u7ffc"}]};
	that.items = result.items;

	var name = $("{} .item#{}".format(that.navdir.eid, that.PARENT)).find('.title').html();

	if(name)
		$(".chips.items").find('.chips-title').html(name.length > 9? name.substr(0, 9) + '...': name);
	else
		$(".chips.items").find('.chips-title').html("");

	that.renderItems();
	Materialize.toast("加载成功", 3000);
}

ItemManager.prototype.delItems = function(completely){
	var that = this;
	if(completely == null )
		completely = false

	var targets = [];
	$("{} .item.selected".format(that.eid)).each(function(){
		if(tid = $(this).attr('id')){
			targets.push(tid);
		}
	});
	if(targets.length == 0)
		return ;

	if(completely) {
		if(! confirm("确认彻底删除 {} 项？".format(targets.length)))
			return ;
	} else {
		if(! confirm("确认删除 {} 项？".format(targets.length)))
			return ;
	}

	$.post("/delete", {targets: targets, completely: completely}, function(result){
	    if(result.status == "ok"){
	    	that.loadItems();
	    	that.navdir.loadDirs();
	    } else {
	        Materialize.toast("错误：" + result.error, 3000);
	    }
	}, 'json', function(XMLHttpRequest, textStatus, errorThrown) {
		Materialize.toast("错误，代码：" + XMLHttpRequest.status, 3000);
	});
}

ItemManager.prototype.newDir = function(callback){
	var that = this;
	$.post("/newdir", {parent: this.PARENT}, function(result){
	    if(result.status == "ok"){
	    	that.navdir.loadDirs();
			that.items.push(result.item);
			$(that.eid).append(that.renderDir(result.item));
			that.rename($("{} #{}".format(that.eid, result.item._id)));

	    	if(callback)
	    		callback(result.item);
	    } else {
	        Materialize.toast("错误：" + result.error, 3000);
	    }
	}, 'json', function(XMLHttpRequest, textStatus, errorThrown) {
		Materialize.toast("错误，代码：" + XMLHttpRequest.status, 3000);
	});
}

ItemManager.prototype.newDoc = function(callback){
	var that = this;
	$.post("/newdoc", {parent: this.PARENT}, function(result){
	    if(result.status == "ok"){
	    	that.items.push(result.item);
			$(that.eid).append(that.renderDoc(result.item));
			im.rename($("{} #{}".format(that.eid, result.item._id)));

	    	if(callback)
	    		callback(result.item);
	    } else {
	        Materialize.toast("错误：" + result.error, 3000);
	    }
	}, 'json', function(XMLHttpRequest, textStatus, errorThrown) {
		Materialize.toast("错误，代码：" + XMLHttpRequest.status, 3000);
	});
}

ItemManager.prototype.upperDir = function() {
	if(parent = $("#dirnav #{}".format(this.PARENT))){
		if(pparent = parent.attr('pid')){
			this.PARENT = pparent;
			this.loadItems();
		}
	}
}

var navdir = new NavDirManager("#dirnav");
// navdir.ROOT = "{{ ROOT }}";
navdir.ROOT = "567f3fd0d81471892a399fdb";
navdir.loadDirs();

var im = new ItemManager("#items");
// im.PARENT = "{{ parent }}";
im.PARENT = "567fc3c0c8b58205901906f2";
im.navdir = navdir;
navdir.im = im;
im.loadItems();


$("#dirnav").on("click", ".item a.title", function(event) {
	im.PARENT = $(this).parents(".item").attr('id');
	im.loadItems();

	return false;
});


$("#dirnav").on("click", ".item .toggle-dir", function(event) {
	var parent = $(this).parents('.item').first();
	if(parent.hasClass('shrinked'))
		navdir.expandDir(parent);
	else
		navdir.shrinkDir(parent);

	return false;
});

// $("#items").on("click", ".item", function(event) {

	// if($(this).find("#rename").length > 0)
	// 	return ;

	// im.cancelRename();

	// // if(event.ctrlKey){
	// // 	im.toggleSelectItem(this);
	// // } else if($(this).hasClass("selected")){
	// // 	im.cancelSelect();
	// // 	im.rename(this);
	// // } else {
	// // 	im.cancelSelect();
	// // 	im.toggleSelectItem(this);
	// // }
	// if($(this).hasClass("selected")){
	// 	// im.cancelSelect();
	// 	im.rename(this);
	// } else {
	// 	im.cancelSelect();
	// 	im.toggleSelectItem(this);
	// }

// 	return false;
// });

$("#items").on("click", ".item .checkbox input", function(event) {
	// im.cancelRename();
	im.toggleSelectItem($(this).parents(".item"));
	// return false;
});


$("#items").on("click", ".item a.rename", function(event) {
	// im.cancelRename();
	im.rename($(this).parents(".item"));
	// return false;
});


$("#items").on("click", ".item a.title", function(event) {
	im.openItem($(this).parent(".item"));
	return false;
});

// $(document).on("click", function() {
// 	im.cancelSelect();
// });


$(document).keydown(function(event){
	if($(event.target).is('input, textarea'))
        return ;

	if(event.keyCode == 46) {
		event.preventDefault();

		if(event.shiftKey)
			im.delItems(true);
		else
			im.delItems();
	} else if(event.keyCode == 13) {
		if(item = $("#items .item.selected").first()){
			event.preventDefault();
			im.openItem(item);
		}
	} else if(event.keyCode == 8) {
		event.preventDefault();

		im.upperDir();
	}
});

$(".new-dir").on("click", function(event){
	im.newDir();
});

$(".new-doc").on("click", function(event){
	im.newDoc();
});

$(".upper-dir").on("click", function(event){
	im.upperDir();
});

$(".remove-items").on("click", function(event){
	im.delItems();
});

$(document).on("click", ".popover", function(event){
	var targetId = $(this).attr('target');
	var target = $(targetId);
	if(! target)
		return;

	target.toggle();
	target.css("left", $(this).offset().left - target.width() + "px");
	target.css("top",  $(this).offset().top + ($(this).height() + 10) + "px");
});

$("#upload form").submit(function(event){
	event.preventDefault();
	$(this).ajaxSubmit({
		dataType: 'json',
		data: { parent: im.PARENT, _xsrf: getCookie("_xsrf") },
		success: function(result){
			if(result.status == "ok"){
		    	Materialize.toast("上传成功", 3000);
		    	im.loadItems();
		    } else {
		        Materialize.toast("错误：" + result.error, 3000);
		    }
		}, 
		error: function(XMLHttpRequest, textStatus, errorThrown) {
			Materialize.toast("错误，代码：" + XMLHttpRequest.status, 3000);
		}
	});
});

</script>
</html>
