<!DOCTYPE html>
<html>
<head>
	<title>登录</title>
	<!--<script type="text/javascript" src="/static/d3.min.js"></script>-->
	<script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="/static/js/util.js"></script>
	<style type="text/css">
		
		.main {
			margin-top: 30px;
			width: 30%;
			margin-left: 30%;
		}

		.main div {
			text-align: center;
		}

	</style>
</head>
<body>

	<div class='main'>
	    <form method="post">
	        {% module xsrf_form_html() %}
	        <div class="">
	            <label>邮箱</label>
	            <input type="email" class="form-control" name="email" placeholder="邮箱" required>
	        </div>
	        <div class="">
	            <label>密码</label>
	            <input type="password" class="form-control" name="password" placeholder="密码" required>
	        </div>
	        <div class="">
	            <button type="submit" class="btn btn-primary">登陆</button>
	            <button type="button" class="btn btn-primary" disabled="disabled">注册</button>
	        </div>
	    </form>
	</div>

</body>

<script type="text/javascript">

	$("form").submit(function(event){
        event.preventDefault();

        var email = $(this).find("input[name='email']").val();
        var password = $(this).find("input[name='password']").val();

        console.log(password)

        $.post("", {email: email, password: password}, function(res){
        	console.log(res);
            if(res.status == 'error') {
            	info(res.error);
            } else {
                document.location.href = res.redirect;
            }
        });
    });

</script>

</html>